---
- name: Install Ripgrep
  ansible.builtin.package:
    name: ripgrep
    state: present

- name: Install fzf
  ansible.builtin.package:
    name: fzf
    state: present

- name: Install fd
  ansible.builtin.package:
    name: fd
    state: present

- name: Install XClip for clipboard
  ansible.builtin.package:
    name: xclip
    state: present
  when: ansible_os_family in ["Debian", "RedHat"]

- name: Create .config directory
  file:
    path: "{{ config_home }}"
    state: directory
    mode: '0755'
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"

- name: Create lazyvim folder
  ansible.builtin.file:
    path: "{{ lazyvim_config_dir }}"
    mode: "0755"
    state: directory

- name: Link LazyVim config
  ansible.builtin.file:
    src: "{{ lazyvim_source_dir }}"
    dest: "{{ lazyvim_config_dir }}"
    state: link
    force: true
